  <h1> Name: <%= @camper.name%> </h1>
  <h1> Age: <%= @camper.age%>
  <h3> <label for= "activities">Activities:</label>
   <% @camper.activities.each do |activity| %>
  <ul> 
  <li> <%=activity.name%> </li>
  </ul>

  <%end%>





